body {
    color: #ff0000
}

button {
    margin: 5px;
    font-family: sans-serif;
}

#todo-title-and-button, ul, #project-title-and-button{
    color: #008000;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  #project-title-and-button{
    color: #ff0000;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  p {
    margin: 0px;
  }

  button {
    background-color: #1f79e8;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }